# -------------------------------------------------------------------------
# Git

.gitignore
.git/
.github/

# -------------------------------------------------------------------------
# Env

.env

# -------------------------------------------------------------------------
# Ofter

.version
Dockerfile*
Makefile
README.md
