# SERVER
SERVER_HOST=0.0.0.0
SERVER_PORT=8080

# LOGGER ["dev", "local", "prod"]
LOGGER_FORMAT=dev

# PostgreSQL
POSTGRES_SERVER=db
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=SketchAPIonGo
