# SERVER
SERVER_HOST=0.0.0.0
SERVER_PORT=8080

# LOGGER ["dev", "local", "prod"]
LOGGER_FORMAT=dev

# PostgreSQL
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=SketchAPIonGo

# JWT
JWT_PATH_PRIVATE_KEY=/app/secrets/private.pem
JWT_PATH_PUBLIC_KEY=/app/secrets/public.pem

ACCESS_EXPIRES_MINUTES=15
REFRESH_EXPIRES_DAYS=30

REFRESH_COOKIE_NAME=refresh_token

JWT_ISSUER=my-service
JWT_AUDIENCE=my-api
